# # """
# # Resources:
# # Xie, E., Wang, W., Yu, Z., Anandkumar, A., Alvarez, J. M., & Luo, P. (2021).
# # SegFormer: Simple and efficient design for semantic segmentation with transformers.
# # Advances in neural information processing systems, 34, 12077-12090.
# # https://huggingface.co/docs/transformers/v4.48.2/en/model_doc/segformer
# # https://github.com/NVlabs/SegFormer
# # """

run_name: "linear-dinov3-concept_bottleneck_run"

augmentation:
  train:
    Resize:
      width: 512
      height: 512
      p: 1
    HorizontalFlip:
      p: 0.5
    Normalize:
      mean: [0.485, 0.456, 0.406]
      std: [0.229, 0.224, 0.225]
  val:
    Resize:
      width: 512
      height: 512
      p: 1
    Normalize:
      mean: [0.485, 0.456, 0.406]
      std: [0.229, 0.224, 0.225]
  test:
    Resize:
      width: 512
      height: 512
      p: 1
    Normalize:
      mean: [0.485, 0.456, 0.406]
      std: [0.229, 0.224, 0.225]

model:
  name: "ConceptBottleneckDINOv3"
  encoder_name: "facebook/dinov3-vitb16-pretrain-lvd1689m"
  input_size: [512, 512]

training_mode: "concept-bottleneck"

training:
  epochs: 10
  loss:
    type: ConceptBottleneckLoss
    lambda_weight: 1
    ignore_index: 0
  optimizer:
    type: AdamW
    lr: 0.00005
    weight_decay: 0.01
  scheduler:
    type: PolynomialLR
    power: 1
    total_iters: 10
